.git
.Rproj.user
docs
*.Rcheck
*.tar.gz
README.html
inst/backend-src/.cmake-build
inst/backend-src/CMakeLists.txt
inst/backend-src/Makefile
inst/backend-src/Makevars
inst/backend-src/*.o
inst/backend-src/*.so
inst/nvforest-cpu-src/.cmake-build*
